body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div {
  display: block;
}

label {
  display: block;
}

input,
textarea {
  background-color: rgb(219, 216, 216);
  font-family: cursive !important;
  font-size: 1rem !important;
  border: none;
  display: block;
  outline: none;
}

textarea {
  width: 100%;
  resize: none !important;
}

button {
  margin-top: 10px !important;
  float: right;
}